*{
    box-sizing: border-box;
}

section{
    background-color:bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: max-content;
}

.user-grid,.computer-grid,.user-ships,.computer-ships{
    background-color: plum;
    height: 300px;
    width: 300px;
}

.square{
    height: 10%;
    width: 10%;
    background-color: skyblue;
    border: 1px solid lightcyan; 
    float: left;
}
/* .square:hover{
    background-color: gray;
} */

.ship{
    display: flex;
    /* margin: 30px 0 0 30px; */
    height: 30px;
    width: max-content;
    position: relative;
    border: 2px solid black;
    margin: -1px;
}

.ship-active{
    opacity: 0.5;
}

.ss,.ess{
    height: 100%;
    width: 30px;
    background-color: silver;
    border: 1px solid lightslategray;
}

.dead{
    background-color: red;
}

.taken{
    background-color: palegreen;
}

.takenByShip{
    background-color: darkorange;
}

button:hover { 
    background: skyblue;
}

.unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .boom{
    background-color: palevioletred;
  }
  .miss{
    background-color: cornflowerblue;
  }